spacy==3.8.16
# the English pipeline is installed from its GitHub release, not PyPI:
#   pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
